In [90]:
import pandas as pd
import numpy as np

In [1]:
# dataset link : https://data.sba.gov/dataset/7-a-504-foia

In [91]:
data = pd.read_csv("SBA_7a.csv", encoding = "ISO-8859-1", low_memory = False)

In [92]:
df = data.copy()

In [93]:
df.shape

(545751, 40)

In [94]:
df.columns

Index(['AsOfDate', 'Program', 'BorrName', 'BorrStreet', 'BorrCity',
       'BorrState', 'BorrZip', 'BankName', 'BankFDICNumber', 'BankNCUANumber',
       'BankStreet', 'BankCity', 'BankState', 'BankZip', 'GrossApproval',
       'SBAGuaranteedApproval', 'ApprovalDate', 'ApprovalFiscalYear',
       'FirstDisbursementDate', 'DeliveryMethod', 'subpgmdesc',
       'InitialInterestRate', 'TermInMonths', 'NaicsCode', 'NaicsDescription',
       'FranchiseCode', 'FranchiseName', 'ProjectCounty', 'ProjectState',
       'SBADistrictOffice', 'CongressionalDistrict', 'BusinessType',
       'BusinessAge', 'LoanStatus', 'PaidInFullDate', 'ChargeOffDate',
       'GrossChargeOffAmount', 'RevolverStatus', 'JobsSupported',
       'SOLDSECMRTIND'],
      dtype='object')

In [95]:
df.drop(axis=1, columns= [ "AsOfDate","Program","BorrStreet","BorrCity","BorrZip",'BankName', 'BankFDICNumber', 'BankNCUANumber',"ApprovalDate","ProjectCounty",
       'BankStreet', 'BankCity', 'BankState', 'BankZip','SBADistrictOffice', 'CongressionalDistrict', 'PaidInFullDate','JobsSupported',
       'SOLDSECMRTIND'], inplace=True)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545751 entries, 0 to 545750
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   BorrName               545719 non-null  object
 1   BorrState              545751 non-null  object
 2   GrossApproval          545751 non-null  int64
 3   SBAGuaranteedApproval  545751 non-null  float64
 4   ApprovalFiscalYear     545751 non-null  int64
 5   FirstDisbursementDate  481157 non-null  object
 6   DeliveryMethod         545751 non-null  object
 7   subpgmdesc             545751 non-null  object
 8   InitialInterestRate    545750 non-null  float64
 9   TermInMonths           545751 non-null  int64
 10  NaicsCode              545740 non-null  float64
 11  NaicsDescription       545153 non-null  object
 12  FranchiseCode          47615 non-null   object
 13  FranchiseName          47514 non-null   object
 14  ProjectState           545751 non-null  object
 15  BusinessType           545746 non-null  object
 16  BusinessAge            111591 non-null  object
 17  LoanStatus             545751 non-null  object
 18  ChargeOffDate          29596 non-null   object
 19  GrossChargeOffAmount   545751 non-null  int64
 20  RevolverStatus         545751 non-null  int64
dtypes: float64(3), int64(5), object(13)
memory usage: 87.4+ MB

In [97]:
df.shape

(545751, 21)

# handling  target colnum (LoanStatus)

In [98]:
df.LoanStatus.value_counts()

LoanStatus
PIF       342177
EXEMPT    107173
CANCLD     66113
CHGOFF     29598
COMMIT       690
Name: count, dtype: int64

#selecting Target colunms 

where "PIF" refers  to  non Defaulter

where  "CHGOFF" refers to Defaulter

In [99]:
df.drop( df[( (df.LoanStatus == "EXEMPT" )| (df.LoanStatus == "CANCLD") | (df.LoanStatus == "COMMIT") )].index, inplace= True)

In [100]:
df.LoanStatus.value_counts()

LoanStatus
PIF       342177
CHGOFF     29598
Name: count, dtype: int64

In [101]:
df.shape

(371775, 21)

# handling  duplicate data

In [102]:
df.duplicated().value_counts()

False    371301
True        474
Name: count, dtype: int64

In [103]:
df.shape

(371775, 21)

In [104]:
df.drop_duplicates(inplace=True)

In [105]:
df.shape

(371301, 21)

# handling  Null values

In [106]:
round((df.isnull().sum()*100)/len(df),2)

BorrName                  0.00
BorrState                 0.00
GrossApproval             0.00
SBAGuaranteedApproval     0.00
ApprovalFiscalYear        0.00
FirstDisbursementDate     0.30
DeliveryMethod            0.00
subpgmdesc                0.00
InitialInterestRate       0.00
TermInMonths              0.00
NaicsCode                 0.00
NaicsDescription          0.08
FranchiseCode            91.96
FranchiseName            91.97
ProjectState              0.00
BusinessType              0.00
BusinessAge              87.41
LoanStatus                0.00
ChargeOffDate            92.03
GrossChargeOffAmount      0.00
RevolverStatus            0.00
dtype: float64

# handling  Franchise colunms

###created new colunm "Franchise" from FranchiseName###

which reflects if the business is Franchise based or not 

it is encoded as

    Franchise based = 1

    non - Franchise based = 0

In [107]:
df["Franchise"] = df.FranchiseName.notnull().astype(int)

In [108]:
df.Franchise.value_counts()

Franchise
0    341492
1     29809
Name: count, dtype: int64

 dropping   colunms - FranchiseCode , FranchiseName   

 reason - we have new colunms of if the business is Franchise based or not , this both colunms redundant

In [109]:
df.drop(axis=1, columns=["FranchiseCode" , "FranchiseName"], inplace=True)

In [110]:
df.shape

(371301, 20)

 dropping   colunms - ChargeOffDate , FirstDisbursementDate

 reason -more than 90% is  missing values

In [111]:
df.drop(axis=1, columns=["ChargeOffDate"], inplace=True)

In [112]:
df.shape

(371301, 19)

In [113]:
df.drop(axis=1, columns=["FirstDisbursementDate"], inplace=True)

In [114]:
round((df.isnull().sum()*100)/len(df),2)

BorrName                  0.00
BorrState                 0.00
GrossApproval             0.00
SBAGuaranteedApproval     0.00
ApprovalFiscalYear        0.00
DeliveryMethod            0.00
subpgmdesc                0.00
InitialInterestRate       0.00
TermInMonths              0.00
NaicsCode                 0.00
NaicsDescription          0.08
ProjectState              0.00
BusinessType              0.00
BusinessAge              87.41
LoanStatus                0.00
GrossChargeOffAmount      0.00
RevolverStatus            0.00
Franchise                 0.00
dtype: float64

In [115]:
df.dropna(inplace=True)

# loanType

creating new column   for loan type using  "DeliveryMethod","subpgmdesc"

so now those two column become redundent so dropping it

In [116]:
df.groupby(["DeliveryMethod","subpgmdesc"])["DeliveryMethod"].value_counts()

DeliveryMethod  subpgmdesc
CA              Community Advantage Initiative                         756
EWCP            Revolving Line of Credit Exports - Sec. 7(a) (14)      272
EXPRES EXP      FA$TRK (Small Loan Express)                             53
INTER TRDE      International Trade - Sec, 7(a) (16)                   166
OTH 7A          Contract Guaranty                                       83
                Guaranty                                              2762
                International Trade - Sec, 7(a) (16)                     3
                Seasonal Line of Credit                                 14
                Small General Contractors - Sec. 7(a) (9)                3
                Standard Asset Based                                   245
PLP             Guaranty                                             18039
SBA EXPRES      FA$TRK (Small Loan Express)                          24151
Name: count, dtype: int64

In [117]:
# DeliveryMethod  subpgmdesc    

# 7A Basic 
#     CLP             Guaranty                                               1910
#     RLA             Rural Lender Advantage                                 2608
#     SLA             Guaranty                                                  1
#                     Lender Advantage Initiative                           21646
#     PLP             Guaranty                                             100578
#     SBA EXPRES      FA$TRK (Small Loan Express)                          195622
#         EXPRES EXP      FA$TRK (Small Loan Express)                            1109

#     OTH 7A          
#                      Guaranty                                              27452

# Pilot loan program 
#     COMM EXPRS      Community Express                                      5100
#     CA              Community Advantage Initiative                         3155
#     PATRIOT EX      Patriot Express                                        5428

# Internation Trades
#                     International Trade - Sec, 7(a) (16)                    824
#                     International Trade - Sec, 7(a) (16)                      3
#                     Revolving Line of Credit Exports - Sec. 7(a) (14)      1409
#     GO LOANS        Gulf Opportunity                                       1462



# CAPlines
#     OTH 7A          Seasonal Line of Credit                                 135
#                     Small Asset Based                                        34
#                     Small General Contractors - Sec. 7(a) (9)               100
#                     Standard Asset Based                                   2239
#                     Contract Guaranty                                       414
#     DFP             509 - DEALER FLOOR PLAN                                  93
                    







# EXIM            EXPORT IMPORT HARMONIZATION                               8



                
#                 Revolving Line of Credit Exports - Sec. 7(a) (14)         1

In [118]:
df.subpgmdesc.unique()

array(['FA$TRK (Small Loan Express)', 'Guaranty',
       'Revolving Line of Credit Exports - Sec. 7(a) (14)',
       'International Trade - Sec, 7(a) (16)',
       'Community Advantage Initiative', 'Standard Asset Based',
       'Contract Guaranty', 'Seasonal Line of Credit',
       'Small General Contractors - Sec. 7(a) (9)'], dtype=object)

In [119]:
df.subpgmdesc = df.subpgmdesc.replace(['Guaranty','Rural Lender Advantage','Lender Advantage Initiative', 'FA$TRK (Small Loan Express)' ], "7A basic")
df.subpgmdesc = df.subpgmdesc.replace(['Community Express', 'Community Advantage Initiative', 'Patriot Express' ], "Pilot loan program")
df.subpgmdesc = df.subpgmdesc.replace(["International Trade - Sec, 7(a) (16)", "Revolving Line of Credit Exports - Sec. 7(a) (14)","Gulf Opportunity" ], "International Trades")
df.subpgmdesc = df.subpgmdesc.replace(["Seasonal Line of Credit","Small Asset Based","Small General Contractors - Sec. 7(a) (9)","Standard Asset Based" , "Contract Guaranty", "509 - DEALER FLOOR PLAN"], "CAPlines")

In [120]:
# droping this value "EXPORT IMPORT HARMONIZATION" as it does not follow into any of category loan type from our literature  survey and also it has recode of 8 values which is insigificant

In [121]:
df.drop( df[( (df.subpgmdesc == 'EXPORT IMPORT HARMONIZATION' ) )].index, inplace= True )

In [122]:
df.subpgmdesc.value_counts()

subpgmdesc
7A basic                45005
Pilot loan program        756
International Trades      441
CAPlines                  345
Name: count, dtype: int64

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46547 entries, 433490 to 545748
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   BorrName               46547 non-null  object
 1   BorrState              46547 non-null  object
 2   GrossApproval          46547 non-null  int64
 3   SBAGuaranteedApproval  46547 non-null  float64
 4   ApprovalFiscalYear     46547 non-null  int64
 5   DeliveryMethod         46547 non-null  object
 6   subpgmdesc             46547 non-null  object
 7   InitialInterestRate    46547 non-null  float64
 8   TermInMonths           46547 non-null  int64
 9   NaicsCode              46547 non-null  float64
 10  NaicsDescription       46547 non-null  object
 11  ProjectState           46547 non-null  object
 12  BusinessType           46547 non-null  object
 13  BusinessAge            46547 non-null  object
 14  LoanStatus             46547 non-null  object
 15  GrossChargeOffAmount   46547 non-null  int64
 16  RevolverStatus         46547 non-null  int64
 17  Franchise              46547 non-null  int32
dtypes: float64(3), int32(1), int64(5), object(9)
memory usage: 6.6+ MB

In [124]:
df.rename(columns = {'subpgmdesc':'loan_type'}, inplace = True)

creating new column   for loan type using  "DeliveryMethod","subpgmdesc"

so now those DeliveryMethod column become redundent so dropping it

In [125]:
df.drop(axis=1, columns="DeliveryMethod", inplace=True)

# emcoding  BusinessAge

In [126]:
df.BusinessAge.unique()

array(['Existing, 5 or more years', 'New, Less than 1 Year old',
       'Startup, Loan Funds will Open Business',
       'Less than 3 years old but at least 2',
       'Less than 5 years old but at least 4', 'Unanswered',
       'Less than 4 years old but at least 3',
       'Existing or more than 2 years old', 'Change of Ownership',
       'New Business or 2 years or less'], dtype=object)

Encoding logic


 
'New Business or 2 years or less' = 1

'New, Less than 1 Year old' = 0

'Startup, Loan Funds will Open Business' = 0

'Existing or more than 2 years old' = 2

'Less than 3 years old but at least 2' = 2

'Less than 4 years old but at least 3' = 3

'Less than 5 years old but at least 4' = 4

"Existing, 5 or more years' = 5

In [127]:


df.BusinessAge = df.BusinessAge.replace(['New, Less than 1 Year old', 'Startup, Loan Funds will Open Business'], 0)
df.BusinessAge = df.BusinessAge.replace(['New Business or 2 years or less'], 1)
df.BusinessAge = df.BusinessAge.replace(['Less than 3 years old but at least 2', 'Existing or more than 2 years old'], 2)
df.BusinessAge = df.BusinessAge.replace(['Less than 4 years old but at least 3'], 3)
df.BusinessAge = df.BusinessAge.replace(['Less than 5 years old but at least 4'], 4)
df.BusinessAge = df.BusinessAge.replace(["Existing, 5 or more years"], 5)

In [128]:
df.BusinessAge.unique()

array([5, 0, 2, 4, 'Unanswered', 3, 'Change of Ownership', 1],
      dtype=object)

In [129]:
# deleting unrelavent value rows

df.drop( df[( (df.BusinessAge == 'Unanswered' )| (df.BusinessAge == 'Change of Ownership' ) )].index, inplace= True )

In [130]:
df.BusinessAge.value_counts()

BusinessAge
2    22285
0     8468
5     3606
3      515
4      410
1       11
Name: count, dtype: int64

In [131]:
df.shape

(35295, 17)

In [132]:
round((df.isnull().sum()*100)/len(df),2)

BorrName                 0.0
BorrState                0.0
GrossApproval            0.0
SBAGuaranteedApproval    0.0
ApprovalFiscalYear       0.0
loan_type                0.0
InitialInterestRate      0.0
TermInMonths             0.0
NaicsCode                0.0
NaicsDescription         0.0
ProjectState             0.0
BusinessType             0.0
BusinessAge              0.0
LoanStatus               0.0
GrossChargeOffAmount     0.0
RevolverStatus           0.0
Franchise                0.0
dtype: float64

In [133]:
df['BusinessAge'].isnull().value_counts()

BusinessAge
False    35295
Name: count, dtype: int64

# BorrState

In [134]:
df.BorrState.unique()

array(['OH', 'ID', 'MI', 'NJ', 'WA', 'CA', 'AZ', 'PA', 'DC', 'NC', 'MN',
       'MA', 'UT', 'NY', 'TX', 'MO', 'FL', 'LA', 'IA', 'DE', 'SD', 'OR',
       'WI', 'RI', 'MT', 'IL', 'TN', 'NM', 'AK', 'NE', 'CO', 'MD', 'OK',
       'SC', 'KY', 'IN', 'ME', 'GA', 'PR', 'KS', 'VA', 'NV', 'MS', 'NH',
       'CT', 'AL', 'HI', 'VT', 'AR', 'ND', 'WY', 'GU', 'WV', 'VI'],
      dtype=object)

In [135]:
State = pd.read_excel("us state code.xlsx")
State.drop(axis=1 ,columns=["Unnamed: 0"], inplace=True  )

In [136]:
State.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         51 non-null     object
 1   Abbreviation  51 non-null     object
dtypes: object(2)
memory usage: 944.0+ bytes

In [137]:
State.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [138]:

# Create a mapping dictionary from NAICS DataFrame
mapping_dict_1 = dict(zip( State["Abbreviation"], State["State"] ))

# Replace values in the "industry" column using the mapping dictionary
df["BorrState"] = df["BorrState"].replace(mapping_dict_1)

In [139]:
df.BorrState.unique()

array(['Ohio', 'Idaho', 'Michigan', 'New Jersey', 'Washington',
       'California', 'Arizona', 'Pennsylvania', 'District of Columbia',
       'North Carolina', 'Minnesota', 'Massachusetts', 'Utah', 'New York',
       'Texas', 'Missouri', 'Florida', 'Louisiana', 'Iowa', 'Delaware',
       'South Dakota', 'Oregon', 'Wisconsin', 'Rhode Island', 'Montana',
       'Illinois', 'Tennessee', 'New Mexico', 'Alaska', 'Nebraska',
       'Colorado', 'Maryland', 'Oklahoma', 'South Carolina', 'Kentucky',
       'Indiana', 'Maine', 'Georgia', 'PR', 'Kansas', 'Virginia',
       'Nevada', 'Mississippi', 'New Hampshire', 'Connecticut', 'Alabama',
       'Hawaii', 'Vermont', 'Arkansas', 'North Dakota', 'Wyoming', 'GU',
       'West Virginia', 'VI'], dtype=object)

# projectstate

In [140]:
df.ProjectState.unique()

array(['OH', 'ID', 'MI', 'NJ', 'WA', 'CA', 'AZ', 'PA', 'DC', 'NC', 'MN',
       'MA', 'UT', 'NY', 'TX', 'MO', 'FL', 'LA', 'IA', 'DE', 'SD', 'OR',
       'WI', 'RI', 'MT', 'IL', 'TN', 'NM', 'AK', 'NE', 'CO', 'MD', 'OK',
       'SC', 'KY', 'IN', 'ME', 'GA', 'PR', 'KS', 'VA', 'NV', 'MS', 'NH',
       'CT', 'AL', 'HI', 'VT', 'AR', 'ND', 'WY', 'GU', 'WV', 'VI'],
      dtype=object)

In [141]:

# Create a mapping dictionary from NAICS DataFrame
mapping_dict_1 = dict(zip( State["Abbreviation"], State["State"] ))

# Replace values in the "industry" column using the mapping dictionary
df["ProjectState"] = df["ProjectState"].replace(mapping_dict_1)

In [142]:
df.BorrState.unique()

array(['Ohio', 'Idaho', 'Michigan', 'New Jersey', 'Washington',
       'California', 'Arizona', 'Pennsylvania', 'District of Columbia',
       'North Carolina', 'Minnesota', 'Massachusetts', 'Utah', 'New York',
       'Texas', 'Missouri', 'Florida', 'Louisiana', 'Iowa', 'Delaware',
       'South Dakota', 'Oregon', 'Wisconsin', 'Rhode Island', 'Montana',
       'Illinois', 'Tennessee', 'New Mexico', 'Alaska', 'Nebraska',
       'Colorado', 'Maryland', 'Oklahoma', 'South Carolina', 'Kentucky',
       'Indiana', 'Maine', 'Georgia', 'PR', 'Kansas', 'Virginia',
       'Nevada', 'Mississippi', 'New Hampshire', 'Connecticut', 'Alabama',
       'Hawaii', 'Vermont', 'Arkansas', 'North Dakota', 'Wyoming', 'GU',
       'West Virginia', 'VI'], dtype=object)

# industry

In [143]:
naics = pd.read_csv("NAICS industry data.csv")

In [144]:
naics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sector       24 non-null     int64
 1   Description  24 non-null     object
dtypes: int64(1), object(1)
memory usage: 512.0+ bytes

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35295 entries, 433490 to 545748
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   BorrName               35295 non-null  object
 1   BorrState              35295 non-null  object
 2   GrossApproval          35295 non-null  int64
 3   SBAGuaranteedApproval  35295 non-null  float64
 4   ApprovalFiscalYear     35295 non-null  int64
 5   loan_type              35295 non-null  object
 6   InitialInterestRate    35295 non-null  float64
 7   TermInMonths           35295 non-null  int64
 8   NaicsCode              35295 non-null  float64
 9   NaicsDescription       35295 non-null  object
 10  ProjectState           35295 non-null  object
 11  BusinessType           35295 non-null  object
 12  BusinessAge            35295 non-null  object
 13  LoanStatus             35295 non-null  object
 14  GrossChargeOffAmount   35295 non-null  int64
 15  RevolverStatus         35295 non-null  int64
 16  Franchise              35295 non-null  int32
dtypes: float64(3), int32(1), int64(5), object(8)
memory usage: 4.7+ MB

In [146]:
df.rename(columns = {'NaicsCode':'industry'}, inplace = True)

In [147]:
df["industry"] = pd.to_numeric(df["industry"].astype(str).str[:2], errors='coerce')

# Create a mapping dictionary from NAICS DataFrame
mapping_dict = dict(zip( naics["Sector"], naics["Description"] ))

# Replace values in the "industry" column using the mapping dictionary
df["industry"] = df["industry"].replace(mapping_dict)

In [148]:
df["industry"].value_counts()

industry
Accommodation and food services                                             4677
Construction                                                                4554
Retail trade                                                                3838
Professional, scientific, and technical services                            3220
Other services (except public administration)                               2958
Transportation and warehousing                                              2916
Health care and social assistance                                           2868
Manufacturing                                                               2433
Wholesale trade                                                             1831
Administrative and support and waste management and remediation services    1720
Arts, entertainment, and recreation                                         1228
Real estate and rental and leasing                                           814
Finance and insurance                                                        737
Educational services                                                         532
Agriculture, forestry, fishing and hunting                                   527
Information                                                                  290
Mining, quarrying, and oil and gas extraction                                 88
Management of companies and enterprises                                       31
Utilities                                                                     27
Public administration                                                          6
Name: count, dtype: int64

In [149]:
df.drop(axis=1, columns =["BorrName","NaicsDescription"], inplace=True)

# final

In [150]:
#  we only have  35425 row of business age , so it is important colunm so we are going with business age  delete all null values

In [151]:
df.dropna(inplace=True)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35295 entries, 433490 to 545748
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   BorrState              35295 non-null  object
 1   GrossApproval          35295 non-null  int64
 2   SBAGuaranteedApproval  35295 non-null  float64
 3   ApprovalFiscalYear     35295 non-null  int64
 4   loan_type              35295 non-null  object
 5   InitialInterestRate    35295 non-null  float64
 6   TermInMonths           35295 non-null  int64
 7   industry               35295 non-null  object
 8   ProjectState           35295 non-null  object
 9   BusinessType           35295 non-null  object
 10  BusinessAge            35295 non-null  object
 11  LoanStatus             35295 non-null  object
 12  GrossChargeOffAmount   35295 non-null  int64
 13  RevolverStatus         35295 non-null  int64
 14  Franchise              35295 non-null  int32
dtypes: float64(2), int32(1), int64(5), object(7)
memory usage: 4.2+ MB

In [153]:
df.Franchise.value_counts()

Franchise
0    31232
1     4063
Name: count, dtype: int64

In [154]:
df.dropna(inplace=True)

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35295 entries, 433490 to 545748
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   BorrState              35295 non-null  object
 1   GrossApproval          35295 non-null  int64
 2   SBAGuaranteedApproval  35295 non-null  float64
 3   ApprovalFiscalYear     35295 non-null  int64
 4   loan_type              35295 non-null  object
 5   InitialInterestRate    35295 non-null  float64
 6   TermInMonths           35295 non-null  int64
 7   industry               35295 non-null  object
 8   ProjectState           35295 non-null  object
 9   BusinessType           35295 non-null  object
 10  BusinessAge            35295 non-null  object
 11  LoanStatus             35295 non-null  object
 12  GrossChargeOffAmount   35295 non-null  int64
 13  RevolverStatus         35295 non-null  int64
 14  Franchise              35295 non-null  int32
dtypes: float64(2), int32(1), int64(5), object(7)
memory usage: 4.2+ MB

In [156]:
df.to_csv("Cleaned_data.csv", index=False)